html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #b9d7ea;
  font-size: 17px;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  background-color: #d6e6f2;
  border-radius: 10%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 25px;
  background-color: #f7fbfc;
}

.form-signin select {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 25px;
  background-color: #f7fbfc;
}

.form-signin textarea {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 25px;
  background-color: #f7fbfc;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 25px;
  background-color: #f7fbfc;
}

.bgbut {
  width: 30px;
  height: 30px;
}

.bgbutf {
  width: 50px;
  height: 50px;
}

.loginItem {
  font-size: 25px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}

.loginItem:hover {
  color: #fff;
  opacity: 0.8;
}

.header {
  position: fixed;
  width: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 11;
  background: #00aeef;
  height: 60px;
  margin-bottom: 20px;
}

.btnBayar {
  --tw-bg-opacity: 1;
  background-color: rgba(218, 51, 107, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  border-style: none;
  max-width: 95%;
  width: 100%;
  height: 40px;
  line-height: 1.375;
  font-weight: 700;
  box-shadow: rgb(189 189 189) 0px 1px 2px 0px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
}

.nom {
  background-color: #f7fbfc;
  text-align: start;
  margin: 10px;
  height: 40px;
}

.nom1 {
  text-align: start;
  margin: 10px;
  height: 40px;
}

.nom2 {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.teks {
  text-align: start;
  padding-left: 10px;
}

.mian {
  width: 100%;
  max-width: 600px;
  margin: auto;
  background-color: #d6e6f2;
  border-radius: 10%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
}

.in {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px;
  border-radius: 25px;
}
